# compiled files
__pycache__/
*.py[cod]
*$py.class

# virtual enviroment
venv/
.venv/
env/

# system files
.DS_Store
Thumbs.db

# config files
.vscode/
.idea/

# ultralytics
*.pt
*.pth
runs/

# log files
*.log

#latex
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.bbl
*.bcf
*.blg
*-blx.bib
*.run.xml
*.lof
*.lot
*.idx
*.ind
*.ilg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.acn
*.acr
*.alg
*.nav
*.snm
*.vrb
*.xdv

# *.pdf
# *.dvi
thesis/